SENTINEL_HUB_CLIENT_ID=
SENTINEL_HUB_CLIENT_SECRET=
SENTINEL_HUB_INSTANCE_ID=
SENTINEL_CLIENT_ID=
SENTINEL_CLIENT_SECRET=
OPENWEATHER_API_KEY=
SECRET_KEY=
DATABASE_PATH=
MODEL_PATH=
MODEL_CLASSES_PATH=
UPLOAD_FOLDER=
CORS_ORIGINS=
VITE_API_BASE_URL=
